
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* ####################### Reset Css #################*/
body {
    margin: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
}
input,button {
    outline: none;
}
/* ####################### HEADER #################*/
#header {
    background: url(../images/audience-1866738_1920.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    color:#fff;
    opacity: 0.95;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
#header:before {
    content:'';
    background: rgba(0, 0, 0, 0.733);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#header .h-container {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#header .h-container span {
    color: rgb(95, 144, 194);
}
#header .h-container h1 {
     margin: 0;
    -webkit-animation: textanitwo 0.8s linear both;
    -ms-animation: textanitwo 0.8s linear both;
    -moz-animation: textanitwo 0.8s linear both;
    -o-animation: textanitwo 0.8s linear both;
    animation: textanitwo 0.8s linear both;
}
#header .h-container p {
    margin: 1rem 0 0 0;
    -webkit-animation: textani 0.8s 0.8s linear both;
    -ms-animation: textani 0. 0.8s linear both;
    -moz-animation: textani 0.8s 0.8s linear both;
    -o-animation: textani 0.8s 0.8s linear both;
    animation: textani 0.8s 0.8s linear both;
}
#header input[id="hicon"] {
    display: none;
    
}
#header label[for="hicon"] {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top:2%;
    right: 2%;
    cursor: pointer;
    display: none;
    z-index: 100;
}
#header label[for="hicon"] span {
    width: inherit;
    height: 2.5px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    display: none;
    transition: 0.5s;
}
#header label[for="hicon"] span:nth-child(1) {
    top:0;
    left: 0;
}
#header label[for="hicon"] span:nth-child(2) {
    top:40%;
    left: 0;

}
#header label[for="hicon"] span:nth-child(3) {
    top:80%;
    left: 0;
}
#header input[id="hicon"]:checked + label[for="hicon"] span:nth-child(1) {
    top:50%;
    transform: rotate(45deg);
}
#header input[id="hicon"]:checked + label[for="hicon"] span:nth-child(2) {
    opacity: 0;
}
#header input[id="hicon"]:checked + label[for="hicon"] span:nth-child(3) {
    top:50%;
    transform: rotate(-45deg);
}

@keyframes textani {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes textanitwo {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* ####################### NAV #################*/
#nav-bar {
    font-size: 18px;
    padding: 16px;
    background: rgb(31, 29, 29);
    box-shadow: 5px 5px 10px #aaa;
    position: absolute;
    top:100%;
    width: 100%;
}
#nav-bar .nav-box {
    width: 100%; 
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.nav-box .main-box {
    padding: 0.7rem 1.5rem;
}

#nav-bar .nav-box a {
    text-decoration: none;
    color: #fff;
}
.main-box > a {
    position: relative;
}
.main-box>a:before {
    content: '';
    width: 0;
    height: 2px;
    background: #111;
    position: absolute;
    left:50%;
    top:110%;
    transform: translate(-50%);
    opacity: 0;
    transition: 0.6s;
}
.main-box>a:hover::before {
    width: 100%;
    opacity: 1;
}
.two {
    position: relative;
}
#nav-bar .career-box {
    position: absolute;
    left: 0;
    top:100%;
    background-color: #333;
    box-shadow: 5px 5px 10px #aaa;
    border-radius: 5px;
    display: none;
    font-weight:100;
}
#nav-bar .career-box > a {
    display: block;
    padding:0.3rem;
    color:#fff;
}
 .career-box > a:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #333;
    position: absolute;
    bottom:95%;
    left:45%;
    transform: rotate(45deg); 
} 
/* ####################### SECTION PROFILE #################*/
#section {
    padding:80px 0em;
    background-color: #eee;
}
#section .profile {
    margin: 50px 0px;
    width: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
}
.profile-image img {
    height:30vh;
    flex-grow:2 ;
}
.profile .title-box {
    display: flex;
}
.profile .title, .profile .title-2 {
    color:#555;
    padding-left: 1rem;
}
.profile .title {
    list-style: none;
    line-height: 2rem;
    width: 40%;
    font-weight: bold;
    border-right:  1px solid #ccc;
}
.profile .title-2 {
    width: 60%;
    align-self: center;
}
.profile .title-2 h3 {
    padding: 1rem;
}
.profile-icons {
    font-size: 1.5rem;
    color:rgb(27, 153, 33);
    
}
.profile .title p {
    margin: 0;
    padding-bottom: 3rem;
}           
/* ####################### SECTION COMPLIMENT #################*/
.compliment {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding:5rem 0 6rem 0;
    background-color: rgba(201, 217, 224,0.3);   
}
.compliment .main {
    margin: 3rem;
}
.compliment .main h3 {
    font-size: 1.5rem;
    color:#333;
    margin: 0;
}    
.compliment h5, .compliment p {
   margin: 0;
}
.compli {
    width:30%;
    height: 18vh;
    display: inline-block;
    margin: 0.8rem ;
    border: 1px solid black;
    background-color: #ddd;
}
.compli .title {
    height: 100%;
    position: relative;
}
.hover, .compli .item p {
     width: inherit;
     height: inherit;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.hover {
    opacity: 1;
    transition: 0.5s; 
    color:#111;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
}
.hover span {
    font-size: 0.8rem;
}
.compli .item {
    width: inherit;
    height: inherit;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    transition: 0.5s;
    background: linear-gradient(90deg, dodgerblue, transparent);
    color:#111;
    font-weight: bold;
}
.compli .title:hover .item {
    opacity: 1;
}
.compli .title:hover .hover {
    opacity: 0;
}
/* ####################### SECTION CAREER #################*/
#career {
    padding:5rem 0rem;
    margin:3rem 0 2rem 0;
    text-transform: uppercase;
    text-align: center;
    color:#555;
}
.career-container h2 {
    margin: 0 0 2rem 0;
    font-size: 32px;
}
.career-container .career-box {
    display: flex;
}
.career-box .image {
    margin-bottom: 2rem;
    padding-top :0.5rem;
    box-shadow: 5px 5px 10px #999;
    transition: 0.8s;
}
.career-box img {
    width: 85%;
}
.career-box .text {
    box-shadow: 5px 5px 10px #999;
    transition: 0.8s;
}
.career-box .text h4 {
    margin: 0;
}
.career-box .image:hover {
    background-color: #333;
}
.career-box .text:hover {
    background-color: #333;
    color:#fff;
}
.career-box .item-1, .career-box .item-2 {
    margin-right: 1rem;
}
/* ####################### SECTION TROPHY #################*/
#trophy {
    padding:5rem 0rem;
    margin:5rem 0 2rem 0;
    background-color: rgba(201, 217, 224,0.3);   
}
.trophy-container {
    text-align: center;
    text-transform: uppercase;
    color:#555;
}
#trophy h2 {
    font-size: 2rem;
}
#trophy .main {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
}
.trophy-box {
    display: flex;
    margin-bottom: 5rem;
    background-color: #fff;
    width: 80%;
    height: 30vh;
    box-shadow: 5px 5px 10px #999;
}
.trophy-image {
    height: inherit;
}
.trophy-image img {
    width: 100%;
    height: inherit;
}
.trophy .two, .trophy .four {
    align-self: flex-end;
} 
#trophy .box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#trophy .box-title h3 {
    margin: 0;
}
/* ####################### SECTION ACHIEVEMENTS #################*/
.achievements {
    padding:5em 0 ;
    text-align: center;
    text-transform: uppercase;
    color:#555;
    background-color: #ddd;
}
.achievements .container {
    width: 65%;
    margin: 0 auto;
}
.achievements h2 {
    font-size: 2rem;
    margin:0 0 3.5rem 0;
}
.achievements .box {
    list-style: none;
    margin-top: -4px;
    padding: 0;
    background-color: rgba(0,0,0,0.9);
    color:#fff;
    padding:1.5rem;
}
.achievements img {
    width: 100%;
}
.achievements .box li {
    line-height: 2.5rem;
    border-bottom:1px dotted #ddd;
    font-weight: 300;
    transition: 0.5s;
}
.achievements .box li:hover {
    background: #fff;
    color:#000;
    font-weight: bold;
    font-size: 1.1rem;
}
/* ####################### FOOTER #################*/
#footer {
    background-color: #000;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    padding:6rem 0;
}
.footer-title ul {
    list-style: none;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.footer-title ul li {
    line-height: 1.7em;
}
#footer a {
    display: inline-block; 
    text-decoration: none;
    color:#fff;
    padding:1rem;
    font-size: 1.3rem;
    width:15px;
    height:15px;
    border:1px solid #fff;
    border-radius: 100%;
    margin: 10px;
    transition: 0.5s;
}
#footer a i {
    display: flex;
    justify-content: center;
    align-items:center ;
}
#footer a:hover {
    background-color: #fff;
}
#footer a:hover:nth-child(1) {
    background: #3b5999;
}
#footer a:hover:nth-child(2) {
    background: #e4405f;
}
#footer a:hover:nth-child(3) {
    background: #02b875;
}
#footer a:hover:nth-child(4) {
    background: #55acee;
}
#footer a:hover:nth-child(5) {
    background: #cd201f;
}