@media screen and ( max-width : 1024px ) {
/* #################### Trigger ##################### */

    .trigger {
        width: 30px;
        height: 20px;
        position: absolute;
        cursor: pointer;
        right: 3%;
        top: 40%;
        z-index: 1011;
    }
    .trigger span {
        width: 100%;
        position: absolute;
        height: 2px;
        background: crimson;
        left: 0;
        transition: 0.5s;
        transform: rotate(0);
    }
    .trigger span:nth-child(1) {
        top: 0;
    }
    .trigger span:nth-child(2) {
        top: 50%;
    }
    .trigger span:nth-child(3) {
        top: 100%;
    }
    .trigger.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .trigger.active span:nth-child(2) {
        opacity: 0;
    }
    .trigger.active  span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
    }
/* #################### Header ##################### */
    header  {
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1001;
        background: #fff;
    }
    .logo {
        float: none;
        width: 30%;
    }
    .logo img {
        margin-top: 10px;
        width: 80%;
    }
    .header-inner {
        width: 100%;
    }
    .nav-menu {
        float: none;
        position: absolute;
        right: -550px;
        z-index: 1000;
        box-shadow: 0px 0px 10px #000;
        top: 100%;
        height: calc( 100vh - 80px );
        background: #d3313a;
        transition: 0.5s;
    }
    .nav-menu.active {
        right: 0;
    }
    .main-menu {
        display: block;
    }
    .main-menu:hover:before {
        display: none;
    }
    .main-menu:hover .sub-menu {
        display: none;
    }
    .menu-items {
        text-align: left;
        float: none;
        margin: 0;
        width: 100%;
        line-height: 50px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }
    .menu-items a {
        color: #fff;
    }
    .sub-menu {
        position: static;
        background: #fbeaeb;
    }
    .sub-menu li {
        padding: 0;
    }

/* #################### Main Section ##################### */
    .main-section {
        padding-top: 80px;
    }
/* #################### Brand-section ##################### */
    .brand-images img {
        width: 230px;
        height: 150px;
        margin-right: 10px;
    }
    .brand-text p {
        font-size: 16px;
    }
/* #################### ICONS-section ##################### */
    .icons-item a {
        color: #fff;
        font-size: 16px;
        display: inline-block;  
    }
    .icons-item:hover a {
        font-size: 18px;
    }
/* #################### Community-section ##################### */
    .community-box {
        width: 43%;
        height: 200px;
        margin-bottom: 20px;
        background: #FDDFE1;
        margin-right: 10px;
        transition: 0.5s;
    }
/* #################### Footer ##################### */
    .footer {
        padding: 40px 0px 30px 0px;
    }
    .footer-logo {
        float: none;
        margin-right: 0;
        height: 70px;
    }
/* #################### Sub Page Menu ##################### */
    .subpagemenu-main {
        padding: 30px 40px;
        margin: 0 auto;
    }
    .subpagemenu-main-inner {
        padding-left: 0;
    }
    .subpagemenu-main-inner > div {
        width: 28%;
    }
/* #################### Sub Page CEO GREETINGS ##################### */
    .ceogreetings h2 {
        padding-top: 40px;
    }
    .ceogreetings-about {
        margin-top: 50px;
        position: relative;
        overflow: hidden;
    }
    .ceogreetings-about:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.589);
    }
    .ceogreetings-about > div {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .ceogreetings-about > div h3 {
        font-size: 30px;
        color: #fff;
        position: relative;
    }
    .ceogreetings-about > div p {
        font-size: 20px;
        position: relative;
        color: #fff;
    }
    .ceogreetings-about > div p b {
        color: dodgerblue;
    }
    .ceogreetings-content-03 {
        height: auto;
        text-align: center;
        padding: 40px 0;
    }
    .ceogreetings-content-03 .ceogreetings-items {
        width: 100%;
        position: static;
        overflow: visible;
        transform: translate(0);
        height: auto;
    }
    .ceogreetings-content-03 .ceogreetings-text {
        float: none;
        width: 100%;
    }
    .ceogreetings-content-03 .ceogreetings-text p {
        position: static;
        font-size: 20px;
        top: 50%;
        transform: translateY(0);
        right: 8%;
    }
/* #################### Sub Page Start Up Guide ##################### */
    .startupguide {
        padding-top: 110px;
        padding-bottom: 20px;
    }
    .startupguide-items {
        width: 100%;
        margin: 0;
    }
    .supplies {
        padding-bottom: 0;
    }
    .supplies-content {
        display: block;
        width: 95%;
    }
}
@media screen and ( max-width : 768px ) {
/* #################### Header ##################### */
    header {
        height: 60px;
    }
    .logo {
        float: none;
        width: 43%;
    }
    .logo img {
        margin-top: 0px;
    }
    .nav-menu {
        right: -550px;
        z-index: 1000;
        width: 280px;
        box-shadow: 0px 0px 10px #000;
        top: 100%;
        height: calc( 100vh - 60px );
        background: #d3313a;
        transition: 0.5s;
    }
    .menu-items a {
        font-size: 16px;
    }
    .sub-menu li a {
        font-size: 13px;
        font-weight: 300;
    }
/* .main-section,
.about-section,
.brand,
.icons,
.issac-menu,
.community,
.footer {
    display: none;
} */
/* #################### Main-section ##################### */

    .main-section {
        width: 100%;
        height: auto;
    }
    .slider-inner img {
        width: 100%;
        height: 220px;
    }
    .mainsection-content {
        flex-direction: column;
        height: auto;
    }
    .content-item {
        width: 100%;
        height: 60px;
        line-height: 60px;
    }
    .content-item:hover span {
        font-size: 18px;
    }
    .content-item span {
        font-size: 16px;
    }
/* #################### About-section ##################### */
    .about-section {
        height: 100vh;
    }
    .about-content {
        width: 250px;
        height: 500px;
    }
    .about-content h2 {
        font-size: 24px;
        font-weight: 900;
        margin: 10px 0;
    }
    .about-content span {
        font-weight: 500;
        font-size: 15px;
    }
    .about-content p {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.8em;
    } 
/* #################### Brand-section ##################### */
    .brand {
        text-align: center;
        position: relative;
        height: auto;
        background: #f7f1e3;
        padding: 30px 0;
    }
    .brand h3 {
        font-size: 24px;
        margin: 0;
        padding: 20px 10px;
    }
    .brand-text {
        width: 100%;
        position: static;
        transform: translate(0);
    }
    .brand-text h4 {
        padding-top: 0;
    }
    .brand-text h4:before {
        font-size: 26px;
        top: 30%;
    }
    .brand-text p {
        font-size: 14px;
        margin: 0;
        margin-bottom: 15px;
    }
    .brand-text span {
        font-size: 16px;
    }
    .brand-text span b {
        font-size: 20px;
    }
    .brand-images {
        position: static;
        margin-top: 20px;
        transform: translateX(0);
    }
    .brand-text a {
        position: static;
        display: block;
        margin-top: 16px;
        font-size: 13px;
    }
/* #################### ICONS-section ##################### */

    .icons {
        padding: 10px;
    }
    .icons-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .icons-item {
        width: 100%;
    }
    .icons-item a {
        font-size: 16px;
    }
    .icons-item:hover a {
        font-size: 18px;
    }
/* #################### IssacMenu-section ##################### */
    .issac-menu h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .issac-list span {
        font-size: 16px;
    }
    .issac-slider {
        padding: 0;
    }
/* #################### Community-section ##################### */
    .community-box {
        display: block;
        width: 93%;
        margin: 0 auto;
    }
    .community h2 {
        font-size: 26px;
    }
    .community-box h3 {
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0 20px 0;
        padding-top: 10px;
    }
/* #################### Footer ##################### */
    .footer-menu li {
        float: none;
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 8px 0;
    }
    .footer-menu {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .footer-items {
        margin-bottom: 20px;
    }
    .footer-items li {
        padding-left: 5px;
        float: none;
    }
/* #################### Sub Page Menu ##################### */
    .subpagemenu-list span {
        font-size: 15px;
    }
    .subpagemenu-list {
        margin-left: 0;
        margin-top: 70px;
    }
    .subpagemenu-main-inner > div {
        float: none;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    .subpagemenu-main h5 {
        font-size: 26px;
    }
/* #################### Sub Page CEO GREETINGS ##################### */
    .ceogreetings h2 {
        font-size: 26px;
    }
    .ceogreetings-about > div p {
        font-size: 16px;
    }
    .ceogreetings-content-01 {
        height: auto;
    }
    .ceogreetings-content-01 .ceogreetings-items {
        width: 100%;
        position: static;
        height: auto;
        transform: translate(0);
    }
    .ceogreetings-content-01 .ceogreetings-items img {
        font: none;
        width: 100%;
        margin: 15px 0;
    }
    .ceogreetings-content-01 .ceogreetings-text {
        float: none;
        width: 100%;
    }
    .ceogreetings-content-01 .ceogreetings-text p {
        position: static;
        transform: translateY(0);
        font-size: 16px;
    }
    .ceogreetings-content-02 {
        height: auto;
        width: 100%;
        padding: 30px 0;
        margin: 15px 0;
    }
    .ceogreetings-content-02 p {
        position: static;
        transform: translate(0);
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }
    .ceogreetings-content-03 {
        padding-top: 0;
    }
    .ceogreetings-content-03 .ceogreetings-text p {
        font-size: 16px;
    }
    .ceogreetings-content-03 .ceogreetings-items-imagebox {
        width: 100%;
        height: 100%;
    }
    .subpagefooter {
        margin-top: 10px;
    }
    /* #################### Sub Page Start Up Guide ##################### */
    .startupguide h2 {
        font-size: 26px;
    }
    .startupguide > span {
        font-size: 16px;
    }
    .startupguide-inner h3 {
        margin-left: 0;
    }
    .startupguide-item {
        width: 100%;
        height: auto;
    }
    .startupguide-items > span {
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 10px;
        margin-bottom: 15px;
    }
    .startupguide-table h3 {
        margin-left: 0;
    }
    .startupguide-table table {
        width: 100%;
    }
    .table-header,
    .table-center,
    .table-right {
        font-size: 10px;
    }
    .table-right {
        padding: 0;
    }
    .startupguide-table-text {
        width: 100%;
    }
    .startupguide-table-text p {
        font-size: 14px;
        line-height: 1.7em;
    }
    .supplies h3 {
        margin-left: 0;
    }
    .supplies-inner {
        width: 100%;
    }
    .supplies-content {
        width: 100%;
        height: auto;
        padding: 20px 20px 40px 40px;
    }
    .supplies-content:before {
        font-size: 24px;
    }
    .supplies-content h4 {
        font-size: 16px;
    }
    .supplies-content li {
        font-size: 13px;
    }
}
