@media screen and (max-width:1400px){
    .section-five .img-box-1{
        width: 120%;
        right: -33%;
    } 
}
@media screen and (max-width:1260px){
    .section-seven .container{
        width: 100%;
    }
    .footer-box-1{
        width: 100%;
    }
}
@media screen and (max-width:1110px) {
    #header .nav-bar{
        width: 100%;
    }
    .section-one .main-container{
        width: 100%;
    }
    .section-one .main-item-1{
        left:20%;
        width: 25%;
    }
    .section-one .main-item-2{
        left:45%;
        width: 20%;
    }
    .section-one .main-item-3{
        right:10%;
        width: 25%;
    }
    .section-one .main-item-1:before,
    .section-one .main-item-2:before,
    .section-one .main-item-3:before{
        width: 100%
    }
    .section-three .container{
        width: 100%;
        height: 100%;
    }
    .section-three .three-box-2{
        overflow: hidden;
    }

    .section-three .three-box-1 .threebtn,
    .section-three .three-box-2 .threebtntwo{
        position: static;
        display: block;
    }
    .section-four .container{
        width: 100%;
    }
    .section-four-img-box-1{
        width: 30%;
    }
    .section-four .img-text-1{
        width: 30%;
    }
    .section-five .img-text-1{
        width: 100%;
    }
    .section-four .four-btn {
        width: 100%;
    }
    .five-btn{
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    .section-two .container{
        flex-direction: column;     
    }
    .section-two .two-box-1,
    .section-two .two-box-2{
        width: 100%;
    }
    .section-two .two-box-1 h3{
        margin: 1em 0;
    }
}
@media screen and (max-width:875px) {
    .section-five{
        /* height: 1400px; */
        height: 100%;
        width: 100%;
        position: relative;
        background:transparent
    }
    .section-five .img-box-1 .pcverimg{
        display: none;
    }
    .section-five .img-box-1{
        position: static;
        width: 100%;
    }
    .section-five .img-text-1{
        display: none;
    }
    .five-btn{
        margin: 0;   
        position: absolute;
        bottom:10%;
    }
    .five-btn a{
        color:#fff;
        border:2px solid #fff;
    }
    .five-btn a:hover{
        color:#682c11;
        text-decoration: underline;
        background: #fff;
    }
    .section-five .moverimg{
        display: block;
    }
    .section-five .moverimg{
        width: 100%;
    }
    .section-eight{
        height: auto;
    }
    .section-eight .container{
        flex-direction: column;
        justify-content: center;
    }
    .section-eight .img-box{
        height: auto;
        margin: 0;
        margin-bottom: 4em;
        text-align: center;
    }
    .section-eight .text-box{
        text-align: center;
    }
    .eight-btn{
        margin-bottom: 3em;
    }
    .section-eight .image-2{
        left:50%;    
        bottom:0;
        width: 228px;
    }
}
@media screen and (max-width:768px){

    .container {
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .section-two .container,
    .section-seven .container {
        padding: 0;
    }
    .section-seven {
        padding: 10px 20px;
        box-sizing: border-box;
    }
    #header{
        height: 90px;
    }
    #header .nav-one{
        display: none;
    }
    #header .nav-two{
        display: none;
    }
    #header .trigger {
        display: block;
    }
    .section-one .main-container{
        height: auto;
        text-align: center;
    }
    .section-one .main-logo{
        float:none
    }
    .section-one .main-logo img {
        width: 80%;
    }
    .section-one .main-box .main-items{
        position: static;
        width: 100%;
    }
    .section-one .main-box{
        display: flex;
    }
    .section-one .main-item-1:before,
    .section-one .main-item-2:before,
    .section-one .main-item-3:before{
        position: static;
        display: block;
    }
    .section-one .main-item-2:before,
    .section-one .main-item-3:before{
        transform: translateX(0);
    }
    .section-three .container{
        text-align: center;
    }
    .section-three .three-box-2{
        margin-top: 2em;
    }
    .section-three .container img{
        float: none;
        display: inline-block;
        margin: 0;
        margin-bottom: 2em;
    }
    .section-three .three-box-1{
        padding:2rem 0;
        border-bottom: 1px solid #999;
    }
    .section-three .three-box-1 .threebtn a,
    .section-three .three-box-2 .threebtntwo a{
        padding: 0 3em;
        margin-top: 1.3em;
    }
    .section-six{
        height: auto;
        padding: 4em 0;
    }
    .section-six .container{
        flex-direction: column-reverse;  
    }
    .section-six .text-box{
        text-align: center;
        margin: 0;
        margin-top: 3em;
    }
    .section-six .text-box .title,
    .section-six .text-box .text{
        margin-bottom: 1em;
    }
    .six-btn{
        position: static;
        display: inline-block;
        margin: 0 auto;
    }
    .section-seven .container{
        flex-direction: column;
        align-items: center;
    }
    .section-seven .container:before,
    .section-seven .container:after{
        display: none;
    }
    .section-seven .img-box-1{
        margin-right: 0;
        margin-bottom: 3em;
    }
    .section-seven .img-box-1 img{
        width: 100%;
    }
    .section-seven .text-box{
        align-items: center;
        width: 100%;
    }
    #footer{
        padding-top: 0;
    }
    .footer-box-1{
        flex-direction: column;
    }
    .footer-box-1 h5{
        height: 50px;
        line-height: 50px;
        display: block;
        cursor: pointer;
        border-bottom: 1px dotted #ddd;
        background: linear-gradient(135deg , rgb(121, 69, 69), transparent)
    }
    .footer-box-1 .footeritem{
        margin: 0;
        background: #666;
        display: none;
    }
    .footer-icons{
        display: inline-block;
    }
    .footer-box-1 .footeritem a{
        height: 35px;
        line-height: 35px;
        border-bottom: 1px dotted #ddd;
        padding-left: 1em;
    }
    .footer-box-1 .item h5 > a{
        padding-left: 1em;
    }
    .footer-box-3{
        margin-top: 1em;
        padding: 10px 20px;
        box-sizing: border-box;
    }
    .footer-btn{
        margin-top: 1.5em;
    }

} 
@media screen and (max-width:640px) {
    .section-one .main-box{
        flex-direction: column;
        justify-content: center;
    }
    .section-one .main-logo{
        margin-bottom: 1.5em;
    }
    .section-one .main-items{
        margin-bottom: 2em;
    }
    .section-one .main-item-1:before,
    .section-one .main-item-2:before,
    .section-one .main-item-3:before{
        background-position: center;
    }
    .section-two .two-box-1{
        font-size: 0.65rem;
    }
    .section-four .container{
        text-align: center;
    }
    .section-four .img-box-1{
        float: none;
        text-align: right;
    }
    .section-four .img-box-1  img{
        width: 90%;
    }
    .section-four .img-text-1{
        position: static;
        display: inline-block;
        width: 80%;
        margin-top: 7em;
    }
}
@media screen and (max-width:450px) {
    .section-four .img-box-1  img{
        width: 100%;
    }
    .section-four .img-text-1{
        position: static;
        display: inline-block;
        width: 90%;
        margin-top: 7em;
    }
    .seven-btn{
        font-size: 1rem;
    }
    .section-eight .container{
        overflow-x: hidden;
    }
    .section-eight .image-1{
        text-align: left;
    }
    .section-eight .image-1 img{
        width: 270px;
        height: 220px;
    }
    .section-eight .image-2 {
        left: 30%;
    }
    .section-eight .image-2 img{
        width: 180px;
        height: 170px;;
    }
    .footer-btn a{
        display: block;
    }
    .section-three .three-box-1 h2{
        font-size: 1.25rem;
    }
    .section-three .three-box-1 p,
    .section-three .three-box-2 p{
        font-size: 0.875rem;
    }
}